<main>
    <div class="container-fluid">
        <div class="row" id="contenedor">
            <div class="col-md-12 text-center">
                <h1 id="tittle">Cantidad</h1>

                <div class="d-flex justify-content-center" style="gap:30px; ">
                    <div>
                    <button class="btn btn-danger" #decrement (click)="Decrement()"> - </button></div>

                    <div >
                        <h1 id="counter">{{count}}</h1></div>
                    
                    <div>
                    <button class="btn btn-success" #increment (click)="Increment()" >+ </button></div>

                </div>
                
                </div>
            </div>


        </div>

</main>

<div mat-dialog-actions class="mt-3 d-flex justify-content-center">
 
    <button mat-button color="primary" id="añadir" (click)="add()"
    >Añadir al carrito</button>

    <button mat-button color="warm" id="cancelar" (click)="onNoClick()">Cancelar</button>
   
</div>