body {
    background-color: pink;
}

.prod-container {
    display: flex;
    flex-wrap: wrap;
    align-items: space-between;
    justify-content: center;
    margin: 0 auto;
    max-width: 1200px;
  }
  
  .producto {
    background-color: #eee;
    border-radius: 10px;
    box-shadow: 0 3px 15px rgba(100, 100, 100, 0.5);
    margin: 10px;
    padding: 20px;
    text-align: center;
    width: 17em;
    animation: 3s;
    border:#3365ee dashed 1px;
}

  .producto:hover{
    box-shadow: 0px 0px 3px 2px #3D68BB;
  }

  img {
    width: 100%;
    height: 130px;
  }

  .producto .img-container {
    background-color: rgba(255, 255, 255, 0.6);
    border-radius: 5px;
    width: 100%;
    height: 120px;
    text-align: center;
    animation: 3s;
    
  }

  .producto .img-container:hover {
    transform: scale(1.06);

  }
  
  .producto .img-container img {
    max-width: 90%;
    margin-top: 20px;
  }
  
  h3 {
    color:#FAC705;
    font-weight: 800;
    -webkit-text-stroke-color:#3D68BB ;
    -webkit-text-stroke-width: 2px;
  }
  .producto .info {
    margin-top: 20px;
  }
  
  .producto .info .productoname {
    background-color: rgba(41, 88, 187, 0.589);
    padding: 5px 10px;
    border-radius: 10px;
    font-size: 1.4em;
    color:#4D7869;
    font-weight: 800;
    -webkit-text-stroke-color: white;
    -webkit-text-stroke-width: 0.5px;
  }
  
  .producto .info .name {
    margin: 15px 0 7px;
    letter-spacing: 1px;
  }

  .icon {
    background-color: #3365ee;
    border-radius: 10px;
    cursor: pointer;
  }

  .icon:hover {
    cursor: pointer;
    box-shadow: 0px 0px 4px 2px red;
  }
  
button {
    width: 100%;
    font-size: 17px;
    background: #0c8141ab;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #33863096, #3a7a269a, #6c96459a);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #49862d9a, #548b3ea9, #6fc94598); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
}